[color]
  ui = true
  diff = auto
  status = auto
  branch = auto

[core]
  editor = vi
  fileMode = false

[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  h = !git --no-pager log origin/master..HEAD --abbrev-commit --pretty=oneline
  pom = !sh -c 'git h && echo Ready to push? ENTER && read && git push origin master ' -

[user]
  name = "Karyn Cassio"
  email = "karyn@techgirlgeek.com"
